@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground;
  }

  .pad {
    @apply p-4 md:px-10 xl:px-12;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-neutral: var(--neutral);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-encode);
  --font-serif: var(--font-spectral);
  --font-mono: var(--font-jetbrains-mono);

  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

:root {
  --background: #f4f4f4;
  --foreground: #121315;
  --primary: #fdfdfd;
  --secondary: #1c2027;
  --accent: #1f688c;
  --muted: #f1f4ff;
  --neutral: #4b4b4b;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: #121315;
  --foreground: #fdfdfd;
  --primary: #1c2027;
  --secondary: #fdfdfd;
  --accent: #c7ecff;
  --muted: #363b48;
  --neutral: #e0e0e0;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}
